* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin',
            sans-serif;
}

body {
    width: 100vw;
    min-height: 100%;
    height: auto;
    overflow-x: hidden;
    padding-top: 80px;
}

.navigation {
    display: flex;
    min-width: 100%;
    width: auto;
    height: 80px;
    justify-content: space-between;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.brand {
    display: flex;
    align-items: center;
    padding-left: 50px;   
}

.logo img {
    width: 60px;
    cursor: pointer;
}

.brand-name {
    padding-left: 25px;
    font-size: 20px;
    cursor: pointer;
}

.menu {
    display: flex;
    text-align: center;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-right: 20px;
    cursor: pointer;
}

.menu li:hover{
    background-color: #278d08;
    border-radius: 40px;
    transition-delay: .1s;
}

.menu ul li {
    margin-left: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.image-container img {
    position: relative;
    width: 100%;
    height: auto;
    /* filter: blur(3px); */
    filter: brightness(60%);
}

.image-container img::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

.overlay {
    /* background-color: aqua; */
    width: 35%;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    /* text-align: ; */
}

.overlay h1 {
    color: white;
    font-size: 50px;
}

.overlay p {
    color: white;
    font-size: 15px;
    opacity: 80%;
    margin-top: 8px;
    font-weight: bold;
}

.overlay .button {
    width: 150px;
    height: 44px;
    border-radius: 25px;
    outline: none;
    border: none;
    margin-top: 26px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.overlay .button:hover {
    background-color: #278d08;
    color: white;
    transition-delay: .1s;
}

.container-portal-berita {
    background-color: #dcdcdc;
    min-width: 100%;
    width: auto;
    height: 480px;
}
.container-card {
    display: inline-flex;
    justify-content: space-around;
    width: 1440px;
    background-color: #DCDCDC;
}

.card {
    background-color: white;
    margin-top: 25px;
    width: 300px;
    height: 350px;
    cursor: pointer;
}

.image-card img {
    width: 273px;
    height: 163px;
    padding: 12px;
}

.title-card h3 {
    font-size: 14px;
    text-align: center;
}
.deskription-card p {
    font-size: 12px;
    text-align: justify;
    padding: 12px;
}

.activity-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.activity-button button:hover {
    background-color: #278d08;
    color: white;
    transition-delay: .1s;
}

.activity-button button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    background-color: white;
    border: none;
    width: 263px;
    height: 39px;
    cursor: pointer;
}

.footer {
    background-color: #212121;
    min-width: 100%;
    width: auto;
    height: 200px;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    color: white;
    height: 100%;
}

.address, .contact, .social-media {
    width: 250px;
    margin: 50px;
    
}

.title-address h3, .title-contact h3, .title-social-media h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.content-address p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.587);
}

.content-contact ul {
    list-style: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.587);
}

.content-social-media a {
    color: inherit;
    font-size: 20px;
    padding-right: 20px;
}

.container-structure {
    display: flex;
    justify-content: center;
}

.main-title-structure {
    width: 800px;
    height: 85px;
    text-align: center;
    padding-top: 15px;
}

.main-title-structure h1 {
    font-size: 40px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-structure{
    width: 300px;
    background-color: #dcdcdc;
    overflow: hidden;
    margin: 20px;
    border-radius: 8px;
}

.card-structure img{
    width: 100%;
    height: auto;
}

.card-content-structure{
    padding: 15px;
    text-align: center;
}

.card-structure h3{
    font-size: 20px;
    margin-bottom: 8px;
}

.card-structure p {
    font-size: 15px;
    color: #00000085;
}



@media screen and (max-width: 476px) {
    .navigation {
        width: 90%;
    }

    .logo img {
        width: 2.5rem;
    }

    .menu ul li {
        font-size: 12px;
    }
}

@media screen and (max-width: 920px) {
    .overlay {
        top: 30%;
    }
    .menu ul {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .overlay {
        top: 30%;
    }
     .overlay h1 {
        font-size: 40px;
    }
    .overlay p {
        font-size: 12px;
    }

    .overlay .button {
        font-size: 15px;
        width: 120px;
    }
}